/* Light Mode */
.lightMode {
    padding: 20px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.6rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mode {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mode i {
    margin-right: 10px;
    rotate: -25deg;
}

.mode p {
    font-weight: 600;
}

/* Dark Mode */
.darkMode {
    padding: 20px 0;
    background: hsl(207, 26%, 17%);
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}